<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Products</title>
  </head>
  <body>
    <h1>Product: <%= products.name %></h1>
    <h3>Price: <%= products.price %></h3>
    <p><%= products. description %></p>
  </body>
</html>